
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(melon_attributes|length) %}
        <tr>
            <td>{{melon_attributes[i][0]}}</td>
            <td>{{melon_attributes[i][2]}}</td>
            <td>${{melon_attributes[i][1]}}</td>
            <td>${{melon_attributes[i][2] * melon_attributes[i][1]}} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{total_cost}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
